
body {
    background-image: url('../images/bg_img.jpg');
    background-repeat: none;
    background-size: cover;
    font-family: 'Poppins',sans-serif;
}

.rounded-box {
    width: 50%;
    background-color: #f2f2f2;
    padding: 10px 20px 10px 20px;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.form-title{
    margin: 5px 0;
    padding: 0 10px;
    font-size: 25px;
    font-weight: bold;
}
.form-container {
    padding: 20px 20px 0 20px;
    border-radius: 25px;
    background-color: #f2f2f2;
    
}

.forms{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
}

.form-group {
    margin-bottom: 10px;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    margin: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.content {
    width: calc(100% / 2 - 20px);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;    
}

.content input, select, button{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
}

select:invalid {
     color: gray; 
}

.line {
    
    width: 95%;
    height: 1px;
    background-color: #000000;
    margin: 10px auto;
    
}

.alternative-signup p{
    font-size: 14px;
    text-align: center;
    font-weight: 100;
    margin: 0;
}
.icon-container {
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    width:  30%;
}

.icon {
    width: 100%;
    height: 40px;
}

.login-redirect{
    text-align: center;
    align-items: center;
    margin: 0;
    font-weight: 100;
    font-size: 14px;
}