/* style_report.css */

body {
    background-image: url('../images/bg_img.jpg');
    background-repeat: none;
    background-size: cover;
    margin: 0;
    font-family: Arial, sans-serif;
}

.rounded-box {
    width: 80%;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 25px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.upper-content {
    display: flex;
    flex-direction: row;
}

.image-container {
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 100%;
    max-width: 250px;
}

.nav-container {
    flex: 1; /* Set width to one-third of the container */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.nav-container a {
    display: block;
    text-align: center;
    padding: 10px 20px;
    background-color: #967259;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.8s ease;
    border-radius: 5px;
    font-family: "Arial", Gadget, sans-serif;
    width: calc(50% - 10px); /* Two columns with a gap */
    box-sizing: border-box;
}

.nav-container a:hover {
    background-color: #634832;
}

.sticky-nav {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #f2f2f2;
    padding: 10px 0;
}

.tab-content {
    display: none;
    padding: 20px;
    border-top: 1px solid #ccc;
}

.tab-content.active {
    display: block;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}

.lower-content {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.creator-container {
    width: 100%;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.creator-container p {
    margin: 0;
}



/* Navbar styles */
.navbar {
    background-color: #333;
    color: #fff;
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    transition: left 0.3s ease;
    z-index: 1000;
}

.nav-toggle {
    cursor: pointer;
    padding: 10px;
    color: #fff;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
}

.nav-links {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

.nav-links a:hover {
    background-color: #555;
}

.active {
    left: 0;
}