body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background: url("https://img.freepik.com/free-photo/close-up-view-dark-fresh-roasted-coffee-beans-coffee-beans-background_141793-27283.jpg")  fixed;
}
header, footer {
    background-color: #ece0d1;
	color: 	#38220f;
	text-align: center;
	padding: 10px 0;
}
h1{
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 40px;
	letter-spacing: 2px;
	word-spacing: 2px;
	color: #38220f;
}
h2{
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 30px;
	letter-spacing: 2px;
	word-spacing: 2px;
	text-align: center;
	color: #ece0d1;
}
body p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	letter-spacing: 2px;
	word-spacing: 2px;
	text-align: center;
	color: #ece0d1;
	padding-top: 10px;
	padding-left: 100px;
	padding-right: 100px;
}
table{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	letter-spacing: 2px;
	word-spacing: 2px;
	text-align: center;
	color: #ece0d1;
	padding-top: 10px;
	padding-left: 100px;
	padding-right: 100px;
}
footer p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	letter-spacing: 2px;
	word-spacing: 2px;
	text-align: center;
	color: #38220f;
}
nav {
    text-align: center;
    background-color: 	#967259;
	padding: 10px;
}
nav a {
	
	text-decoration: none;
	color: #38220f;
	background-color: #ddd;
	padding: 5px 100px;
	border-radius: 5px;
}
nav a:hover {
	background-color: #634832;
	color: #fff;
}

.contact-table{
	margin-left: auto;
  	margin-right: auto;
}
